.nav{
    text-align: center;
}
.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


.buttons{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.hidden{
    display: none;
}

.space-around{
    display: flex;
    justify-content: space-around;
}

.bordered{
    border: 1px black solid;
}
.title {
    align-self: flex-start;
    justify-self: flex-start;
}

.card-container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.card{
    max-width: 400px;
    min-width: 400px;
    /*flex: 10%;*/
}
.row-container{
    display: flex;
    justify-content: space-around;
}